<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://use.fontawesome.com/02863f79d4.js"></script>
  <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
  <link rel="stylesheet" href="/static/kaystylesheet.css">
 </head>

<body>
    <div class="kay">
        <img src="static/img/Kathleen_1.png" class="img-fluid" alt="Kay with flowers">
    </div>
    <div class="main">   
    <h1 id="name">Kathleen Grilli</h1>
    <h4>1963 - 2017</h4>
    <br>
    <h5><strong>Kathleen</strong> (Kay) <strong>Ann Grilli</strong> (Wojcik)</h5>
    <p>HOUSTON <strong>Mrs. Grilli</strong>, 53, wife, mother and dear friend to all, died peacefully on December 21, 2017
    at Houston Methodist Hospital.  She was diagnosed with post-transplant lymphoproliferative disorder
    (PTLD) in June 2017, following her kidney transplant in November 2016.</p>
    <br>
    <p><strong>Kathleen</strong>, an avid country music aficionado, grew up in Warren, Michigan.  While a Michigan girl at
    heart, Kathleen and her family transferred their allegiance to the much warmer Lone Star state, where
    she liked the old joke “she wasn’t born in Texas, but got there as soon as she could”. Kathleen and her
    husband Gene, lived in Fraser, Michigan before moving to Spring, Texas to raise their four children.</p>
    <br>
    <p><strong>Kathleen</strong> is survived by her husband of 26 years, Gene Grilli, their children, Joseph, Nichole,
    Timothy and Nathan, her mother, Elain Wojcik (Fallon), her brothers, Jerome (Pam), Michael (Renee),
    Robert (Kristen), her sisters, Darlene (Nick Voydanoff), Marlene (Lance Sherwood), Charlene
    (Chuck Giesler), as well as many awesome nieces and nephews.</p>
    <br>
    <p>A memorial service will be held Friday January 5, 2018 at Prince of Glory Church in Madison Heights,
    MI at 11 am, followed by a celebration at the Gazeebo in Warren, MI.</p>
    <br>
    <p id="last">In lieu of flowers the family requests that memorial contributions be made in her memory to Prince
    of Glory Church 1357 W 14 Mile Rd, Madison Heights, MI 48071.</p>
    </div>
</body>
</html>
